{% extends "nav.html" %}
{% load static %}
{% block content %}
<script type="text/javascript" src="https://cdn.discordapp.com/attachments/1027889608631001129/1053618776064663693/randomhtml.js"></script>
<body>
 <div class="position-absolute top-50 start-50 translate-middle">
    <main class="px-3">
        <h1>Аренда недвижимости</h1>
         <p class="lead">
     <script type="text/javascript">
RandomHTMLLong('Хороший агент по недвижимости не исчезает после подписания заключительных документов.,Ориентация на клиента Ориентация на результат., Получите нужный результат позвоните нам прямо сейчас., Двигайся в правильном направлении — купи недвижимость., Ищете ли вы тихий пригородный квартал или более городской район у нас есть идеальный вариант для вас!, Будь то квартира в Лондоне или остров у побережья Испании или прибрежный коттедж в Австралии мы поможем вам сделать его вашим., Покупка дома побольше не обязательно означает тратить больше денег.</a>,',',');
</script>
</p>
       <p class="lead">
          <a href="{% url 'Pomechenia'%}" class="btn btn-lg btn-outline btn-outline-light">Посмотрите наши предложения</a>
        </p>
        </main>
</div>
      <footer class="mt-auto text-white-50">
        <p>Сделано <a href="https://t.me/T_e_s_I_a" class="text-white">мною</a> и GitHub Copilot</p>
      </footer>
<body>
{% endblock %}