{% extends "nav.html" %}
{% load static %}
{% block content %}

<head>
<meta charset="utf-8">
<title>Add a marker using a place name</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
<style>
body { margin: 0; padding: 0; }
#map { position: absolute; width: 50%; height: 125%; }
</style>
</head>
        <div class="review-section"></div>

        <section class="review-section">
		<div class="container">
			<div class="review-item" style="display:flex; justify-content: space-between;">
				<div class="row" style="display: flex; justify-content: space-between;">
					<div class="col-4">
						<div class="review-pic">
							<img src="{{Pomechenia.Photo.url}}" alt="" style="max-width: 100%;">
						</div>
						<h2>Описание</h2>
						<div class="mb-1 "style="text-align: left; color: rgb(200, 200, 200);">{{ Pomechenia.Opisanie }}</div>
						<div class="mb-1 "style="text-align: left; color: rgb(200, 200, 200);"> <b>Площадь:</b> {{ Pomechenia.PoleznaiaPloshad }}</div>
              			<div class="mb-1 "style="text-align: left; color: rgb(200, 200, 200);"> <b>Этаж: </b>{{ Pomechenia.NomerEtazha }} / {{ Zdanie.ChisloEtazhey }}</div>
             			<div class="mb-1 "style="text-align: left; color: rgb(200, 200, 200);"> <b>Телефон: </b> {{ Pomechenia.Telefon }}</div>
             			<div class="mb-1 "style="text-align: left; color: rgb(200, 200, 200);"> <b> Размер аренды:</b> {{ Pomechenia.CenaArendy }}</div>
              			<div class="mb-1 "style="text-align: left; color: rgb(200, 200, 200);"> <b>Цена: </b> {{ Pomechenia.RazmerArendy }}</div>
						<h2>О доме</h2>
						<div class="mb-1 "style="text-align: left; color: rgb(200, 200, 200);"> <b>Название: </b> {{ Zdanie.NaimenovanieZdaniya }}</div>
						<div class="mb-1 "style="text-align: left; color: rgb(200, 200, 200);"> <b>Количество этажей: </b> {{ Zdanie.ChisloEtazhey }}</div>
						<div class="mb-1 "style="text-align: left; color: rgb(200, 200, 200);"> <b>Количество помещений: </b> {{ Zdanie.KolvoPomescheniy }}</div>
						<div class="mb-1 "style="text-align: left; color: rgb(200, 200, 200);"> <b>Телефон коменданта: </b> {{ Zdanie.TelefonKomendanta }}</div>
						<h2>Адрес</h2>
						<div class="mb-1 "style="text-align: left; color: rgb(200, 200, 200);"> <b>Cтрана</b>  {{ Adres.Strana }}</div>
						<div class="mb-1 "style="text-align: left; color: rgb(200, 200, 200);"> <b>Город:</b>  {{ Adres.Gorod }}</div>
						<div class="mb-1 "style="text-align: left; color: rgb(200, 200, 200);"> <b>Улица:</b>  {{ Adres.Ulica }}</div>
						<div class="mb-1 "style="text-align: left; color: rgb(200, 200, 200);"> <b>Дом:</b>  {{ Adres.Dom }}</div>
						{% if Adres.Kvartira %}
						<div class="mb-1 "style="text-align: left; color: rgb(200, 200, 200);"> <b>Квартира:</b> {{ Adres.Kvartira }}</div>
						{% endif %}
						<div class="mb-1 "style="text-align: left; color: rgb(200, 200, 200);"> <b>Почтовый индекс:</b> {{ Adres.Indeks }}</div>
					</div>
					<div class="col-8">
						<div id="map" ></div>
					</div>
					</div>
				</div>
			<div class="review-item" style="height: 200px;"> </div>
			</div>
		</section>
<body>



<script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>

<script>
	mapboxgl.accessToken = 'pk.eyJ1IjoidGVzbGExMjMiLCJhIjoiY2xiYjhmOGJ3MDJhZjNucGUxZDFla3d3ZyJ9.H67vwQmM2BhMO9dM5Ms7ew';
    const mapboxClient = mapboxSdk({ accessToken: mapboxgl.accessToken });
    mapboxClient.geocoding
        .forwardGeocode({
            query: '{{ Adres.Strana }}, {{ Adres.Gorod }}, {{ Adres.Ulica }}, {{ Adres.Dom }}</div>',
            autocomplete: false,
            limit: 1
        })
        .send()
        .then((response) => {
            if (
                !response ||
                !response.body ||
                !response.body.features ||
                !response.body.features.length
            ) {
                console.error('Invalid response:');
                console.error(response);
                return;
            }
            const feature = response.body.features[0];

            const map = new mapboxgl.Map({
                container: 'map',
                // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
                style: 'mapbox://styles/mapbox/streets-v12',
                center: feature.center,
                zoom: 15
            });

            // Create a marker and add it to the map.
            new mapboxgl.Marker().setLngLat(feature.center).addTo(map);
        });
</script>

</body>
</html>
{% endblock %}
